MONGO_URI="mongodb+srv://peachysarahjoy:1x8bVMaGaOV4eYOx@challengecluster.k2a1pte.mongodb.net/?retryWrites=true&w=majority&appName=challengeCluster"
DATABASE_NAME="selfCareChallengeDev"
PORT="8888"
GO_ENV="development"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY="AKIAQ3EGPD74AXCUVFM5"
AWS_SECRET_ACCESS_KEY=""
JWT_SECRET_KEY="chalenge"
SENDER_EMAIL="selfchallenge@yopmail.com"